* {
    box-sizing: border-box;
    font-family: "Finger Paint", sans-serif;
}

body {
    background-color: #f8efff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}

