section.local-play {
    margin: 20px auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "p1 p1 p1 p1 b1 b1 b1 b1 b1 b1 . ."
        "p1 p1 p1 p1 b1 b1 b1 b1 b1 b1 d d"
        "p2 p2 p2 p2 b2 b2 b2 b2 b2 b2 r r"
        "p2 p2 p2 p2 b2 b2 b2 b2 b2 b2 i i";
    transition: opacity ease 0.7s;
}

section.roll-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: r;
    justify-content: flex-start;
}

section.roll-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: d;
    justify-content: flex-end;
}

button.roll-button {
    width: 130px;
    height: 70px;
    font-family: "Finger Paint", sans-serif;
    background-color: var(--buttonColor);
    color: var(--textColor);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}


button.roll-button:disabled {
    opacity: 0.5;
}

button.roll-button:hover:not(:disabled) {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
}

img.roll-die {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section.instructions {
    margin-top: 40px;
    grid-area: i;
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    opacity: 0;
}

section.instructions > h3 {
    margin: 0 5px 0 10px;
    text-align: center;
}

section.instructions > p {
    margin: 0;
    border: 2px solid black;
    border-bottom: 3px solid black;
    border-radius: 4px;
    font-weight: 800;
    color: #333;
    box-shadow: 0 2px 0 #bbb, 0 3px 4px rgba(0,0,0,0.15);

}

section.instructions > p.space-button {
    height: 25px;
    width: 60px;
    text-align: center;
    font-size: 2rem;
    line-height: 0.1;
}

section.instructions > p.r-button {
    margin-left: 13px;
    height: 25px;
    width: 25px;
    text-align: center;
}

section.instructions > p.arrow-button {
    height: 20px;
    width: 30px;
    text-align: center;
    line-height: 0.5;
    font-size: 1.5rem;
}

img.profile-picture {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background-color: var(--containerColor);
}

section.player1-info {
    grid-area: p1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
    position: relative;
    color: var(--textColor);
}

section.player1-info > section.player1-score {
    text-align: center;
    width: 40px;
    font-size: 1.5rem;
    z-index: 1;
    position: absolute;
    right: 38px;
    background: var(--buttonColor);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

section.player1-info > h1{
    margin: 0;
}

section.player2-info {
    grid-area: p2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8px;
    position: relative;
    color: var(--textColor);
}

section.player2-info > section.player2-score {
    text-align: center;
    width: 40px;
    font-size: 1.5rem;
    z-index: 1;
    position: absolute;
    right: 38px;
    background: var(--buttonColor);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

section.player2-info > h1{
    margin: 0;
}

section.player1-board {
    min-width: 300px;
    padding-bottom: 30px;
    grid-area: b1;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    justify-content: center;
}

section.player1-board > button {
    margin: 0;
    border: var(--board-border-radius) solid var(--backgroundColor);
    border-bottom: none;
    border-right: none;
    font-family: "Finger Paint", sans-serif;
    width: 100px;
    height: 100px;
    background-color: var(--containerColor);
}

section.player1-board > button:hover:not(:disabled) {
    background-color: var(--highlightColor);
    cursor: pointer;
}

section.player1-board > button:nth-child(n + 7) {
    border-bottom: var(--board-border-radius) solid var(--backgroundColor);
}

section.player1-board> button:nth-child(3n) {
    border-right: var(--board-border-radius) solid var(--backgroundColor);
}

section.player1-board > button > img {
    width: 70px;
}

section.player2-board {
    padding-top: 30px;
    grid-area: b2;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}

section.player2-board > button {
    border: var(--board-border-radius) solid var(--backgroundColor);
    border-bottom: none;
    border-right: none;
    font-family: "Finger Paint", sans-serif;
    width: 100px;
    height: 100px;
    background-color: var(--containerColor);
}

section.player2-board > button:hover:not(:disabled) {
    background-color: var(--highlightColor);
    cursor: pointer;
}

section.player2-board > button:nth-child(n + 7) {
    border-bottom: var(--board-border-radius) solid var(--backgroundColor);
}

section.player2-board> button:nth-child(3n) {
    border-right: var(--board-border-radius) solid var(--backgroundColor);
}

section.player2-board > button > img {
    width: 70px;
}

section.local-game-over {
    position: absolute;
    top: 20%;
    left: 54%
}

section.local-game-over > h1 {
    color: #EAC03A;
    text-align: center;
    line-height: 0.9;
    margin: 0;
    font-size: 8rem;
    position: absolute;
    top: 22%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

section.bottom {
    top: 53%;
}

@media (max-width: 640px) and (min-width: 520px) {
    section.local-play {
        margin: 0 30px;
        min-height: 95vh;
        max-width: 700px;
        max-height: 700px;
        font-family: "Finger Paint", sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
            "b1 b1 b1 b1"
            "b1 b1 b1 b1"
            "b1 b1 b1 b1"
            "b1 b1 b1 b1"
            "s1 dm dm rm"
            "s2 dm dm rm"
            "b2 b2 b2 b2"
            "b2 b2 b2 b2"
            "b2 b2 b2 b2"
            "b2 b2 b2 b2";
    }

    section.roll-bottom {
        margin-right: 40px;
        grid-area: rm;
    }

    section.roll-top {
        margin-left: 40px;
        grid-area: dm;
    }

    button.roll-button {
        width: 135px;
        height: 90px;
        margin-top: 0;
        margin-bottom: 0;
    }

    img.roll-die {
        width: 100px;
        margin-top: 0;
        margin-bottom: 0;
    }

    section.player1-board {
        padding-bottom: 0;
        grid-area: b1;
    }

    section.player1-board > button {
        margin: 0;
        width: 30%;
        max-width: 150px;
        height: 30%;
        max-height: 130px;
    }

    section.player1-board > button > img {
        width: auto;
        max-width: 70px;
    }

    section.player2-board {
        padding-top: 0;
        grid-area: b2;
    }

    section.player2-board > button {
        width: 30%;
        max-width: 150px;
        height: 30%;
        max-height: 130px;
    }

    section.player2-board > button > img {
        width: auto;
        max-width: 70px;
    }

    section.instructions {
        display: none;
    }

    section.player1-info > h1 {
        display: none;
    }

    section.player1-info > img {
        display: none;
    }

    section.player2-info > h1{
        display: none;
    }

    section.player2-info > img {
        display: none;
    }

    section.player1-info {
        padding-top: 5px;
        grid-area: s1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    section.player2-info {
        padding-bottom: 5px;
        grid-area: s2;
    }

    section.player1-info > section.player1-score {
        position: static;
        right: auto;
        width: 60px;
        height: auto;
        text-align: center;
        font-size: 2rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.player2-info > section.player2-score {
        position: static;
        right: auto;
        width: 60px;
        height: auto;
        text-align: center;
        font-size: 2rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.local-game-over {
        position: absolute;
        top: 25%;
        left: 50%
    }

    section.local-game-over > h1 {
        font-size: 9rem;
    }

    section.bottom {
        top: 78%;
    }
}

@media (max-width: 520px) {
    section.local-play {
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 760px;
        max-width: 700px;
        height: 90vh;
        font-family: "Finger Paint", sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr) 60px 60px repeat(4, 1fr);
        grid-template-areas:
            "b1 b1 b1 b1"
            "b1 b1 b1 b1"
            "b1 b1 b1 b1"
            "b1 b1 b1 b1"
            "s1 dm dm rm"
            "s2 dm dm rm"
            "b2 b2 b2 b2"
            "b2 b2 b2 b2"
            "b2 b2 b2 b2"
            "b2 b2 b2 b2";
    }

    section.roll-bottom {
        padding-right: 20px;
        grid-area: rm;
    }

    section.roll-top {
        padding-left: 20px;
        grid-area: dm;
    }

    button.roll-button {
        width: 100px;
        height: 90px;
        font-size: 1.4rem;
    }

    img.roll-die {
        width: 100px;
        margin-top: 0;
        margin-bottom: 0;
    }

    section.player1-info {
        padding-top: 5px;
        grid-area: s1;
    }

    section.player2-info {
        padding-bottom: 5px;
        grid-area: s2;
    }

    section.player1-info > section.player1-score {
        position: static;
        right: auto;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 1.8rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.player2-info > section.player2-score {
        position: static;
        right: auto;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 1.8rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.player1-board {
        padding-bottom: 0;
        grid-area: b1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.player1-board > button {
        margin: 0;
        width: 30%;
        max-width: 160px;
        height: 30%;
        max-height: 130px;
    }


    section.player1-board > button > img {
        width: 80px;
    }

    section.player2-board {
        padding-top: 0;
        grid-area: b2;
    }

    section.player2-board > button {
        font-family: "Finger Paint", sans-serif;
        width: 30%;
        max-width: 160px;
        height: 30%;
        max-height: 130px;
    }


    section.player2-board > button > img {
        width: 80px;
    }

    section.instructions {
        display: none;
    }

    section.player1-info > h1 {
        display: none;
    }

    section.player1-info > img {
        display: none;
    }

    section.player2-info > h1{
        display: none;
    }

    section.player2-info > img {
        display: none;
    }

    section.local-game-over {
        position: absolute;
        top: 25%;
        left: 50%
    }

    section.local-game-over > h1 {
        font-size: 8rem;
    }

    section.bottom {
        top: 72%;
    }

}

