section.board2-placeholder {
    grid-area: b2;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    margin: 0 15px;
}


section.invite-link {
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

[class*="invite-link"] svg {
    margin-right: 20px;
}
section.invite-link > .material-symbols-outlined {
    text-align: center;
    align-content: center;
    color: #e1e1e1;
    width: 50px;
    height: 50px;
    background-color: #535353;
    font-size: 2rem;
    margin-bottom: 5.5px;
    cursor: pointer;
}


section.invite-link > input {
    text-align: center;
    align-content: center;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin-bottom: 5.5px;
    font-size: 0.9rem;
}

section.board2-placeholder > h1 {
    padding: 0 15px 10px;
    margin: 0;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--textColor);
}

section.board2-placeholder > section.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.board2-placeholder > section.qr-code > svg {
    height: 120px;
    width: 120px;
}

h1.game-over-text {
    color: #EAC03A;
    text-align: center;
    line-height: 0.9;
    margin: 0;
    font-size: 8rem;
    position: absolute;
    left: 54%;
    top: 22%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

h1.game-lost-text {
    color: #700000;
}

div.vs-info {
    transition: opacity 0.8 ease;
}

section.start-player-info {
    position: absolute;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    top: 20vh;
    left: 55%;
    transform: translate(-50%, -50%);
}

section.start-player-info > img {
    position: static;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
}

section.start-player-info > h1 {
    margin: 0;
    font-size: 2.5rem;
}

section.start-opp-info {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background-color: unset;
    top: 46vh;
    left: 55%;
    transform: translate(-50%, 0);
}

section.start-opp-info > img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
}

section.start-opp-info > h1 {
    margin: 0;
    font-size: 2.5rem;
}

h1.big-vs {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    font-size: 7rem;
    color: red;
    top: 30vh;
    left: 55%;
    transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
    section.board2-placeholder {
        padding-top: 20px;
        justify-content: flex-start;
    }

    section.invite-link {
        flex-wrap: nowrap;
        gap: 5px;
    }

    [class*="invite-link"] svg {
        margin-right: 0;
    }

    section.invite-link > input {
        width: 60%;
        font-size: 0.9rem;
    }

    section.board2-placeholder > h1 {
        padding: 0 15px;
        text-align: center;
        font-weight: 800;
        padding-bottom: 30px;
    }

    section.board2-placeholder > section.qr-code {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.board2-placeholder > section.qr-code > svg {
        margin: 0;
        height: 120px;
        width: 120px;
    }

    h1.game-over-text {
        left: 50%;
        top: 25%;
    }
}

@media (max-width: 640px) and (min-width: 520px) {
    section.start-player-info {
        top: 27vh;
        left: 50%;
    }

    section.start-opp-info {
        top: 65vh;
        left: 50%;
    }

    section.start-player-info > img {
        width: 200px;
        height: 200px;
    }

    section.start-player-info > h1 {
        font-size: 3rem;
    }

    section.start-opp-info > img {
        width: 200px;
        height: 200px;
    }

    section.start-opp-info > h1 {
        font-size: 3rem;
    }

    h1.big-vs {
        font-size: 9rem;
        top: 42vh;
        left: 50%;
    }
}

@media (max-width: 520px) {
    section.start-player-info {
        top: 27vh;
        left: 50%;
    }

    section.start-opp-info {
        top: 60vh;
        left: 50%;
    }

    section.start-player-info > img {
        width: 200px;
        height: 200px;
    }

    section.start-player-info > h1 {
        font-size: 3rem;
    }

    section.start-opp-info > img {
        width: 200px;
        height: 200px;
    }

    section.start-opp-info > h1 {
        font-size: 3rem;
    }

    h1.big-vs {
        font-size: 9rem;
        top: 41vh;
        left: 50%;
    }
}

@media (max-height: 750px) {
    section.start-player-info {
        top: 250px;
    }

    section.start-player-info > img {
        width: 150px;
        height: 150px;
    }

    section.start-player-info > h1 {
        font-size: 2.5rem;
    }

    section.start-opp-info {
        top: 500px;
        left: 50%;
    }

    section.start-opp-info > img {
        width: 150px;
        height: 150px;
    }

    section.start-opp-info > h1 {
        font-size: 2.5rem;
    }

    h1.big-vs {
        font-size: 7rem;
        top: 350px;
        left: 50%;
    }
}

