section.signin-section {
    width: 90vw;
    max-width: 430px;
    height: 33vh;
    min-height: 300px;
    background-color: var(--containerColor);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 10px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin-section > h1 {
    text-align: center;
    line-height: 0.9;
    margin: 0;
    padding-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 800;
    font-weight: 600;
}

.signin-section > h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    color: red;
}

.signin-section > .signup-h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
    font-size: 2rem;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px 10px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section > button {
    width: 98px;
    height: 60px;
    font-family: "Finger Paint", sans-serif;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    cursor: pointer;
}

.button-section > button:hover {
    background-color: #EECECA;
}

.input-section > input {
    background-color: #F0F9FA;
    text-align: center;
    width: 180px;
    height: 38px;
    border: none;
    border-radius: 10px;
}

.input-section > label {
    font-size: 1.2rem;
}

.redirect-section {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    font-size: 0.8rem;
}

section.icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

h2.or-h2 {
    color: black !important;
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: -10px;
    width: 120px;
    border-top: 1px solid black;
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.4);
}

section.icon-section > img {
    width: 55px;
    padding-bottom: 5px;
}

.discord-icon{
    opacity: 0.2;
}

.apple-icon{
    opacity: 0.2;
}

.goto-email {
    width: 220px;
    height: 50px;
    font-family: "Finger Paint", sans-serif;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 800;
}

.goto-email:hover:not(:disabled) {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
}

@media (max-width: 450px) {
    .signin-section > h1 {
        font-size: 1.9rem;
    }

    .signin-section > h2 {
        font-size: 0.8rem;
        font-weight: 500;
        color: red;
    }

    .signin-section > .signup-h1 {
        text-align: center;
        margin: 0;
        padding: 16px 0;
        font-size: 2rem;
    }

    .input-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0 10px 10px;
    }

    .button-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-section > button {
        width: 98px;
        height: 50px;
        font-family: "Finger Paint", sans-serif;
        background-color: powderblue;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 800;
        cursor: pointer;
    }

    .input-section > input {
        width: 150px;
        height: 28px;
    }

    .input-section > label {
        font-size: 0.8rem;
    }

    .redirect-section {
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 0.8rem;
    }
}

@media (max-width: 350px) {
    section.icon-section {
        gap: 20px;
    }
}
